body {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.08rem;
	color: black;
	font-size: 15px;
	height: 100%;
	margin: 0;
}
header {
	background-color: #f3deba;
	filter: brightness(110%);
	overflow: auto;
}
a {
	text-decoration: none;
	color: black;
}
h1 a {
	font-size: 18px;
	padding: 1%;
	color: black;
	letter-spacing: 0.3rem;
	flex: 1;
}
nav {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
nav a {
	color: black;
	padding: 1%;
	border-radius: 0.5rem;
	border: #f3deba solid 0.06rem;
}
nav a:hover {
	border: black solid 0.06rem;
}

button {
    background-color: #abc4aa;
    border-radius: 10px;
    border: grey solid;
}
footer {
	background-color: #675d50;
	filter: brightness(150%);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}
footer div {
	display: flex;
	gap: 2rem;
}
footer a {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	color: black;
	font-size: 12px;
}
footer img {
	width: 20px;
	height: 25px;
	padding: 1%;
}
section:not(:first-child) {
	margin-bottom: 10rem;
}
@media only screen and (max-width: 768px) {
	header {
		height: 10rem;
	}
    footer div {
        flex-direction: column;
        gap: 0.4rem;
    }
}

/* Index.html */
.home-heading {
	background-color: #a9907e;
	filter: brightness(110%);
	display: flex;
	align-items: center;
}
@media (max-width: 767px) {
    .home-heading p {
        width: 90%;
    }   
}
h2 {
	font-size: 16px;
	letter-spacing: 0.3rem;
}
.home-heading img {
	width: 10rem;
	height: 11rem;
	padding: 2%;
}
.ourbestsellers, #h2, #p {
    margin: 1%;
}

.bestsellers {
	display: flex;
	gap: 2rem;
}
.product-item {
	width: 15rem;
	padding: 1%;
}
.product-item img {
	width: 12rem;
}
.product-item p {
	width: 13rem;
}

/* Media query for screens smaller than 768px (tablet portrait) */
@media (max-width: 767px) {
	.bestsellers {
		flex-direction: column;
		align-items: center;
	}

	.product-item {
		width: 90%;
		margin-bottom: 2rem;
	}

	.product-item img {
		width: 100%;
	}

	.product-item p {
		width: 100%;
		text-align: center;
	}
}

.home-coffee-machine {
	gap: 2rem;
	display: flex;
	gap: 2rem;
	background-color: #f3deba;
	filter: brightness(110%);
	border-radius: 2rem;
}
.home-coffee-machine img, p {
    width: 20rem;
    padding: 1%;
}

@media (max-width: 767px) {
	.home-coffee-machine {
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
        width: 90%;
    }
	.home-coffee-machine p {
		margin: auto;
	}
}
.home-organic {
	display: flex;
	gap: 3rem;
	align-items: flex-end;
	background-color: #abc4aa;
	padding: 2%;
	border-radius: 2rem;
}
.home-organic img {
	width: 10rem;
	height: 10rem;
}
.home-organic div {
	width: 25rem;
	text-align: inline;
}
@media (max-width: 767px) {
    .home-organic {
        flex-direction: column;
        width: 90%;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .home-organic p {
        margin: auto;
    }
    .home-organic img {
        width: 100%;
    }
}

/* organic-coffee.html */
.coffee-products-heading {
	display: flex;
	gap: 2rem;
	background-color: #a9907e;
	justify-content: baseline;
	padding: 1%;
}
.coffee-products-heading img {
	width: 6rem;
	height: 6rem;
}
.product-item2 img {
	width: 10rem;
}
.product-item2 p {
	width: 13rem;
}
.all-coffee-products {
	display: grid;
	grid-template-rows: 1fr 1fr; /* define two rows with equal height */
	justify-content: center;
	gap: 3rem;
}
.product-item2:nth-child(1) {
	grid-row: 1 / span 1; /* place in row 1 */
	grid-column: 1 / span 1; /* place in column 1 */
}
.product-item2:nth-child(2) {
	grid-row: 1 / span 1; /* place in row 1 */
	grid-column: 2 / span 1; /* place in column 2 */
}
.product-item2:nth-child(3) {
	grid-row: 2 / span 1; /* place in row 2 */
	grid-column: 1 / span 1; /* place in column 1 */
}
.product-item2:nth-child(4) {
	grid-row: 2 / span 1; /* place in row 2 */
	grid-column: 2 / span 1; /* place in column 2 */
}

.product-item2:nth-child(5) {
	grid-row: 1 / span 1; /* place in row 1 */
	grid-column: 3 / span 1; /* place in column 3 */
}

.product-item2:nth-child(6) {
	grid-row: 1 / span 1; /* place in row 1 */
	grid-column: 4 / span 1; /* place in column 4 */
}

.product-item2:nth-child(7) {
	grid-row: 2 / span 1; /* place in row 2 */
	grid-column: 3 / span 1; /* place in column 3 */
}

.product-item2:nth-child(8) {
	grid-row: 2 / span 1; /* place in row 2 */
	grid-column: 4 / span 1; /* place in column 4 */
}
@media (max-width: 767px) {
    .all-coffee-products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* coffee-machine.html */
.coffee-machine-heading {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 2%;
}
.coffee-machine-heading img {
	width: 16rem;
	height: 21rem;
}
.h2-p-coffeemachine-heading {
	text-align: center;
	line-height: 1.5;
}
@media (max-width: 768px) {
    .coffee-machine-heading {
        flex-direction: column;
        align-items: center;
    }

}
.coffee-machine-products {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	gap: 3rem;
	margin-top: 5rem;
}
.machineproduct-item:nth-child(1) {
	grid-row: 1 / span 1; /* place in row 1 */
	grid-column: 1 / span 1; /* place in column 1 */
}
.machineproduct-item:nth-child(2) {
	grid-row: 1 / span 1; /* place in row 1 */
	grid-column: 2 / span 1; /* place in column 2 */
}
.machineproduct-item:nth-child(3) {
	grid-row: 2 / span 1; /* place in row 2 */
	grid-column: 1 / span 1; /* place in column 1 */
}
.machineproduct-item:nth-child(4) {
	grid-row: 2 / span 1; /* place in row 2 */
	grid-column: 2 / span 1; /* place in column 2 */
}
.machineproduct-item {
	width: 15rem;
	background-color: #f3deba;
	filter: brightness(110%);
	padding: 1.2rem;
	border-radius: 1rem;
}
.machineproduct-item img, p {
	width: 15rem;
}
@media (max-width: 767px) {
    .coffee-machine-products {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
}


/* organic.html */
.organic-heading {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	padding: 2%;
	text-align: center;
}
.organic-heading div {
	display: block;
	padding: 2%;
	background-color: #abc4aa;
	border-radius: 1rem;
}
.organic-heading img {
	width: 25rem;
}
.organic-info {
	text-align: left;
	margin-left: 18%;
	margin-top: 5%;
}
@media (max-width: 767px) {
    .organic-heading {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .organic-heading img {
        width: 18rem;
    }
}


/* about-contact.html */
.about-contact-heading {
	text-align: center;
	background-color: #a9907e;
	filter: brightness(110%);
	padding: 2%;
}
.aboutus-section {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 2%;
}
.aboutus-section img {
	width: 22rem;
	height: 18rem;
}
.aboutus-section div {
	width: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact-setion,
.socialmedia-section {
	text-align: left;
	width: 20rem;
	margin-left: 13%;
}
@media (max-width: 767px) {
    .aboutus-section {
       flex-direction: column;
    }

}

/* find-location.html */
.location-heading {
	text-align: center;
	background-color: #a9907e;
	filter: brightness(110%);
	padding: 2%;
}
.all-location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	margin-top: 3rem;
}
.location {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2%;
}
.location p {
	width: 10rem;
}
.map-location {
	width: 16rem;
	height: 18rem;
	border-radius: 1rem;
}
@media (max-width: 767px) {
    .location {
        flex-direction: column;
        gap: 0.6rem;
    }
}