body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    color: black;
}
header {
    background-color: #F3DEBA;
}
footer {
    background-color: #675D50;
}

/* Index.html */


/* organic-coffee.html */


/* coffee-machine.html */


/* organic.html */


/* about-contact.html */


/* find-location.html */